@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./../images/fondo\ violeta.jpg);
}
.navegacion {
    font-family: 'Comfortaa', cursive;
    text-align: right;
    padding: 3;
    
}

.logo{
    display: flex;
    align-content: space-between;
    align-content: flex-end;
    height: 150px;
}

.h1{ 
    font-family: 'Bitter', serif;
    font-weight: 900;
    font-size: 3.5rem;
    text-align: center;
    background-color: rgb(177, 118, 233);
}         
.parrafo1{
display: flex;
justify-content: center;
align-items: center;
}

    

.seccionDiv{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-evenly;
    

}
.hijo{
    border: 1px solid black;
}
.foter{
    text-align: center;
    background-color: rgb(15, 15, 15);
}
.bienvenidas{
    display: flex;
    font-size: 2,5rem;
    padding: 3%
}
.parrafoindex{
    display: flex;
    font-weight: 300;
    align-items: center;
    padding: 2%;
}
.fotomirada{
    width: 30%;
    display: flex;
    justify-content: left;
    justify-content: space-between;
}