body{
  background: url(./../images/fondo\ violeta.jpg)
}
.h1{ 
    font-family: 'Bitter', serif;
    font-weight: 900;
    font-size: 3.5rem;
    text-align: center;
    background-color: rgb(177, 118, 233);
}         
.parrafo1{
display: flex;
justify-content: center;
align-items: center;
}
.titulo1{
    margin: 1.4rem;
}
.nuestroTrabajo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mirada{
    margin: 1rem;
}

.seccionDiv{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-evenly;
    

}
.hijo{
    border: 1px solid black;
}


.parrafoindex{
    display: flex;
    font-weight: 300;
    align-items: center;
    padding: 2%;
}

.navbar { 
    font-size: 13px;
    font-weight: bold;
}
.foto{
    width: 7rem;
    height: 7rem;
}
.galeria{
    width:100%;
}
.carousel-item{
    height:50vh;
}
.carousel-item img{
    height: 100%;
    object-fit: cover;
}
.foter{
    display: flex;
    justify-content: center;
    align-items: center;
}
